---
title: Oyun - Downloads
---

<p>
  Oyun is available as a binary package for Windows and Mac, as well as C++
  source which can be compiled on a wide array of systems. The current binary
  version is v2.0 Beta 6, released on June 1, 2018. In source-code form, there
  is a slightly more recent version (Beta 7.1), which fixes compilation on
  recent versions of Mac OS X.
</p>

<hr />

<p>
  <a href="/downloads/oyun-2.0.b6-win32.exe">
    <img
      class="icon"
      src="/images/download-windows.png"
      width="56"
      height="48"
      alt="Windows"
    />
  </a>
  <a href="/downloads/oyun-2.0.b6-win32.exe">
    Oyun v2.0 Beta 6 installer for Windows
  </a>
</p>

<p>
  <a href="/downloads/oyun-2.0.b6-mac.dmg">
    <img
      class="icon"
      src="/images/download-mac.png"
      width="56"
      height="48"
      alt="Mac OS X"
    />
  </a>
  <a href="/downloads/oyun-2.0.b6-mac.dmg">
    Oyun v2.0 Beta 6 installer for Mac OS X
  </a>
</p>

<p>
  <a href="https://codeberg.org/cpence/oyun/archive/v2.0.b7.1.tar.gz">
    <img
      class="icon"
      src="/images/download-source.png"
      width="56"
      height="48"
      alt="Source Code"
    />
  </a>
  <a href="https://codeberg.org/cpence/oyun/archive/v2.0.b7.1.tar.gz">
    Oyun v2.0 Beta 7.1 source code (.tar.gz)
  </a>
</p>

<hr />

<p>
  <img
    style="float: left"
    class="icon"
    src="/images/download-source.png"
    width="56"
    height="48"
    alt="Example Finite State Machines"
  />
  <strong>Example Finite State Machines:</strong>
  <br />
  <a href="/samples/tft.txt">Tit-for-tat</a>
  |
  <a href="/samples/aw.txt">AW (cheater detection)</a>
  |
  <a href="/samples/host.txt">Host</a>
  |
  <a href="/samples/parasite.txt">Parasite</a>
  (last two to be used together)
</p>
