---
title: Oyun - Screenshots
---

<h2>Screenshots</h2>
<hr />

<div class="body">
  <p style="font-weight: bold;">Screenshots of Oyun 2.0b1 on Linux:</p>

  <table><tr>
    <td><a href="images/screenshots/2.0b1-linux-playerspage.png" rel="lightbox[linux20b1]">
       <img src="images/screenshots/2.0b1-linux-playerspage-thumb.png" width="198" height="152" alt="" />
    </a></td>
    <td><a href="images/screenshots/2.0b1-linux-oneshotpage.png" rel="lightbox[linux20b1]">
       <img src="images/screenshots/2.0b1-linux-oneshotpage-thumb.png" width="198" height="152" alt="" />
    </a></td>
    <td><a href="images/screenshots/2.0b1-linux-evopage.png" rel="lightbox[linux20b1]">
       <img src="images/screenshots/2.0b1-linux-evopage-thumb.png" width="198" height="152" alt="" />
    </a></td>
  </tr></table>
</div>
