<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ .Title }}</title>
    <meta name="author" content="Charles Pence" />

    {{- $main := resources.Get "css/main.css" | minify | fingerprint -}}
    <link
      rel="stylesheet"
      href="{{ $main.Permalink }}"
      integrity="{{ $main.Data.Integrity }}"
    />

    {{- $prototype := resources.Get "js/prototype.js" -}}
    {{- $scriptaculous := resources.Get "js/scriptaculous.js" -}}
    {{- $lightboxjs := resources.Get "js/lightbox.js" -}}
    {{- $bundle := slice $prototype $scriptaculous $lightboxjs | resources.Concat "js/bundle.js" | minify | fingerprint -}}
    <script
      src="{{ $bundle.Permalink }}"
      integrity="{{ $bundle.Data.Integrity }}"
    ></script>

    {{- $lightbox := resources.Get "css/lightbox.css" | minify | fingerprint -}}
    <link
      rel="stylesheet"
      href="{{ $lightbox.Permalink }}"
      integrity="{{ $lightbox.Data.Integrity }}"
      media="screen"
    />
  </head>
  <body>
    <div class="container">
      {{ block "main" . }}{{ end }}

      <div class="footer">
        All content copyright &copy; 2004&ndash;2021 Charles H. Pence. All web
        content is released under
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us"
          >CC-BY-NC-SA 3.0.</a
        >
        Code is released under
        <a href="http://www.gnu.org/licenses/gpl.html">GPL v3.</a>
      </div>
    </div>
  </body>
</html>
