{{ define "main" }}
  <div class="main">
    <div style="text-align: center; margin: 4em 0 2em 0">
      <img src="logo/oyun-logo.png" width="250" height="74" alt="Oyun Logo" />
    </div>

    <p>
      Welcome to the website for Oyun (<span style="font-variant: small-caps"
        >oy</span
      >-oon), a simulator designed to allow users to run tournaments in which
      various strategies (coded in C++ or as finite state machines) compete at
      2x2 games like the Prisoner's Dilemma. Competitions can either be one-off
      round-robin tournaments, or an evolutionary tournament in which fraction
      of population is proportional to score in the last round of the
      tournament.
    </p>

    <p>
      A
      <a href="/Pence_Buchak_Oyun.pdf">journal article about Oyun</a>
      has been published in
      <a href="https://evolution-outreach.biomedcentral.com/">
        <em>Evolution: Education and Outreach</em></a
      >. If you would like to cite Oyun, please use the citation:
    </p>

    <p>Pence, C.H. & Buchak, L. 2012. “Oyun: A New, Free Program for Iterated
    Prisoner’s Dilemma Tournaments in the Classroom.” <i></i>Evolution:
    Education and Outreach</i> 5 (3): 467–476.</p>

    <p>The current version of Oyun is v2.0 Beta 6, released on June 1, 2018.</p>

    <p class="sep">&nbsp;</p>

    <p>
      <a href="/downloads">
        <img
          class="icon"
          src="/images/download.png"
          width="48"
          height="48"
          alt="Download"
        />
      </a>
      <a href="/downloads">Download Oyun!</a>
    </p>

    <p>
      <a href="/docs">
        <img
          class="icon"
          src="/images/docs.png"
          width="48"
          height="48"
          alt="Documentation"
        />
      </a>
      <a href="/docs">Read the Oyun User Manual online</a>
    </p>

    <p>
      <a href="/faq">
        <img
          class="icon"
          src="/images/faq.png"
          width="48"
          height="48"
          alt="Frequently Asked Questions"
        />
      </a>
      <a href="/faq">Frequently Asked Questions</a>
    </p>

    <p>
      <a href="/screenshots">
        <img
          class="icon"
          src="/images/screenshots.png"
          width="48"
          height="48"
          alt="Screenshots"
        />
      </a>
      <a href="/screenshots">View some screenshots of Oyun in action</a>
    </p>

    <p>
      <a href="https://codeberg.org/cpence/oyun">
        <img
          class="icon"
          src="/images/development.png"
          width="48"
          height="48"
          alt="Development"
        />
      </a>
      <a href="https://codeberg.org/cpence/oyun">
        Development and bug reports on Codeberg
      </a>
      |
      <a href="/dev">Code documentation</a>
    </p>
  </div>
{{ end }}
