{{define "main"}}
  {{if eq .Section "docs"}}
    <h1><a href="/docs/">Oyun: Documentation</a></h1>
  {{else if eq .Section "dev"}}
    <h1><a href="/dev/">Oyun: Development</a></h1>
  {{else}}
    <h1><a href="/">{{.Title}}</a></h1>
  {{end}}

  <p class="docnav">
    <a href="/">[back to front page]</a>
    {{if eq .Section "docs"}}
      | <a href="/docs/">[back to documentation index]</a>
    {{else if eq .Section "dev"}}
      | <a href="/dev/">[back to development index]</a>
    {{end}}
  </p>

  {{if eq .Section "docs" "dev"}}
    <div id="post">
      <h2>{{.Title}}</h2>
      <hr />

      <div class="body">{{.Content}}</div>
    </div>
  {{else}}
    <div class="main">
      {{.Content}}
    </div>
  {{end}}
{{end}}
